body {
  padding: 10%;
}
header {
  text-align: center;
  font-family:"Lato", sans-serif;
  font-size: 1em;

}
hr {
  background-color: #005282;
  border-color: #005282;
  border-width: 2px;
  margin-left: 20%;
  margin-right: 20%;
  border-style: solid;
}
.top-Section {
  text-align: center;
  font-family:"Lato", sans-serif;
  padding: 20px 220px 20px 220px;
}
.top-Section h1 {
  font-size: 1.5em;
}

.firstButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.webinarButton {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #005282;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px;
  padding: 25px 55px;
  max-width: 275px;
}
.first-Midsection {
  display: flex;

}
#calendarPic {
  max-width: 8pc;
}
.one-box {
  display: flex;
  flex-direction: column;
  background-color: #71a1be;
  text-align: center;
  color: white;
  padding: 40px 100px 40px 100px;
  margin-bottom: 55px;
  margin-right: 20px
}
.two-box {
  display: flex;
  flex-direction: column;
  background-color: #71a1be;
  text-align: center;
  color: white;
  padding: 100px 160px;
  margin-bottom: 55px;

}
.second-Midsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -20px;
}
.three-box {
  background-color: #05263a;
  padding:50px;
  text-align: center;
  color: white;
  font-family:"Lato", sans-serif;
}
.three-box p {
  font-style: italic;
}

.four-box {
  background-color:#edebeb;
  padding: 50px;
  font-family: arial, sans-serif;
}
.four-box h3 {
  text-align: center;

}
.list-ul {
    list-style-image: url('https://d13p2xj50zkyqm.cloudfront.net/promos_1/AF/RGS/RGS_Hotlist_0617/RGS_Hotlist_0617_CheckmarkBox.png');
    font-family:"Lato", sans-serif;
}
.list-ul p {
  margin-top: 0px;
}
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#warningSymbol {
  max-width:5%;
  margin-right: 10px;
}
.pinkSection {
  display: flex;
  justify-content: center;
  background-color: #f58c99;
  color: white;
  text-align: center;
  font-family: arial, sans-serif;
  margin-top: 15px;
  font-size: 1em;
}
.blueSection {
  background-color: #05263a;
  color: white;
  padding: 10px;
  font-style: italic;
  font-family: arial, sans-serif;

}
.arrowDown {
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 45px solid #05263a;
  margin-left: 42%;
}
.checkbox-container2 {
  margin-bottom: -15%;
}
.bottomButton {
  background-color: #005282;
  color: white;
  border-radius: 10px;
  padding: 2%;
  font-family: arial, sans-serif;
  margin: 20%;
  font-weight: bold;

}
.bottomSection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: arial, sans-serif;
}
@media only screen and (max-width: 1160px){
body {
  padding: 0%;
  margin: 0%;
}
.top-Section {
  padding:0px;
}
.top-Section h1 {
  font-size: 1.2em;
}
.first-Midsection h2 {
  padding: 55px;

}
.first-Midsection {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding:0px;
  margin-bottom: -55px;
}
.pinkSection {
  margin-top: 0px;
}
.pinkSection img {
  max-width: 0px;
  margin: 0px;
}
.second-Midsection {
  display: flex;
  flex-direction: column;
}
.one-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0px;
  padding:0px;
  margin-right: 0px;
  padding-top: 20px;
}
.two-box {
  padding:20px
}
.three-box img {
  width: 15pc;
}
.arrowDown {
margin-left:32%;
}
.pinkSection {
  font-size: 1em;
  margin: 0px;
  padding: -5px;
}

#calendarPic {
  margin-left: 30%;

}
#warningSymbol {
  max-width: 0%;
  margin: 0px;
}
}
